@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.title {
  font-family: 'Sriracha', cursive;
  font-size: 5rem;
  color: #45427B;
}

.font1 {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

.cover {
  background-image: url(/img/seconddp.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  /* background-color: #512da8; */
  margin-top: -64px;
  height: 30rem;
}

.ma {
  padding-top: 9rem;
}

.editTitle {
  margin-top: 40px;
  margin-bottom: 0px;
  height: 4rem;
  border-bottom-width: 1px;
  resize: vertical;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  font-size: 2.25rem !important;
  color: #fff;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

textarea {
  resize: none !important;
  overflow: hidden !important;
  overflow-wrap: break-word;
  border: none !important;
  height: 4rem;
  padding: 2rem;
  outline: none;
  font-size: 2.25rem !important;
  margin: 0 0 0 0 !important;
}

textarea:focus {
  outline: none !important;
  border: none !important;
}

.editTab {
  border-top: white thick;
  border-bottom: white;
  width: 100%;
  margin: 0ex;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 0 0 0 !important;
}

.btn-small {
  background-color: transparent;
  color: rgb(123, 118, 185);
}

.btn-small:hover {
  background-color: rgb(123, 118, 185);
  color: white;
}

.btn-large {
  background-color: transparent;
  color: rgb(123, 118, 185);
}

.btn-large:hover {
  background-color: rgb(123, 118, 185);
  color: white;
}

.btn {
  background-color: transparent;
  color: rgb(123, 118, 185);
}

.btn:hover {
  background-color: rgb(123, 118, 185);
  color: white;
}

.publish {
  background-color: rgb(123, 118, 185) !important;
  color: white;
}

.publish:hover {
  background-color: transparent !important;
  color: rgb(123, 118, 185);
}

#textBox {
  font-size: 1rem !important;
  color: white;
  margin-top: 2rem;
  background-color: transparent !important;
  text-align: left !important;
}

#textView {
  font-size: 1rem !important;
  color: white;
  margin-top: 2rem;
  background-color: transparent !important;
  text-align: left !important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  justify-content: left;
  align-items: left;
  color: rgb(172, 168, 168);
  background-color: transparent !important;
}

[contenteditable=true]:focus {
  border: none;
  outline: none;
  background-color: transparent !important;
}

/* */

div[contenteditable=true] {
  border: 0px dashed #AAA;
  width: 100%;
  height: 30rem;
  background-color: transparent !important;
}

.deepshadow {
  color: rgb(36, 32, 110);
  text-shadow: 0 0 5px #45427B, 0 0 10px #45427B, 0 0 20px #45427B;
}

.m1 {
  margin: 1rem;
}

.Rbtn {
  height: 7rem !important;
  width: 7rem !important;
}

button:disabled {
  background-color: rgb(158, 158, 172);
  color: #fff
}

.input {
  border: 0.5px solid #512da8 !important;
  width: 65%;
}

input:disabled {
  background-color: rgb(158, 158, 172);
  border: 0.5px solid #38363b !important;
  width: 65%;
}