@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.title {
  font-family: 'Sriracha', cursive;
  font-size: 5rem;
  color: #45427B;
}

.font1 {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

.cover {
  background-image: url(/img/cover.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  background-color: #512da8;
  margin-top: -64px;
  height: 30rem;
}
.ma{
  padding-top: 9rem;
}